* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: blanchedalmond;
    font-family: 'Oswald', sans-serif;
}

.mainContent {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.login {
    background-color: floralwhite;
    width: 500px;
    height: 300px;
    border-radius: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    padding-bottom: 4px;
    padding-top: 4px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

input {
    padding-top: 8px;
    padding-bottom: 8px;
}

button {
    width: 50%;
    height: 30px;
}